* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}
#myCanvas {
  background-image: url("https://pp.userapi.com/c841125/v841125615/38cb5/7BvRwUTJBR8.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 400;
  height: 320;


}
